<template>
    <ion-card  @click="setCurrentCrisis()">
    <ion-card-header>
      <ion-card-title>{{crisis.title}}</ion-card-title>
       <ion-badge class="updates-number" color="primary">1</ion-badge>
      <ion-icon expand="block" @click="openPopover($event)" class="display-options" :icon="chevronDownOutline"></ion-icon>
    </ion-card-header>
    </ion-card>
</template>

<script lang="ts">
import {  IonCard, IonCardTitle, IonBadge, IonIcon, IonCardHeader, popoverController } from '@ionic/vue';
import { defineComponent } from 'vue';
import { chevronDownOutline } from 'ionicons/icons';
import Settings from './Settings.vue';

export default defineComponent({
  name: 'CrisisListItemDesktop',
  components: {
    IonCardHeader,
    IonCard, 
    IonCardTitle,
    IonBadge,
    IonIcon,
  },
    setup() {
            return {
               chevronDownOutline
            }
        },
    props: ['crisis', 'showDetails'],
    methods: {
    setCurrentCrisis(){
      const param = this.crisis.id;
      this.$router.push({ path: 'home', query: { crisis: `${param}` }})
    },
    async openPopover(ev: Event) {
      const popover = await popoverController
        .create({
          component: Settings,
          cssClass: 'my-custom-class',
          event: ev,
          componentProps: { crisisId: this.crisis.id },
          translucent: true
        });
      return popover.present();
    }
  }
});
</script>

<style scoped>
ion-card {
    cursor: pointer;
}

ion-button {
  display: block;
}
ion-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-badge {
  margin-left: auto;
}

.updates-number {
      border-radius: 50%;
    min-width: 20px;
}

.display-options {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

</style>

