<template>
    <ion-card>
    <ion-card-header>
      <ion-card-title>{{crisis.title}}</ion-card-title>
       <ion-badge class="updates-number" color="primary">1</ion-badge>
      <ion-icon expand="block" @click="openPopover($event)" class="display-options" :icon="ellipsisVertical"></ion-icon>
    </ion-card-header>
    <ion-card-content @click="setCurrentCrisis()">
     <ion-text class="paragraph">
         {{crisis.body}}
     </ion-text>

     <p class="paragraph"> <ion-icon class="icon-margin-r" :icon="timeOutline"></ion-icon>Vandaag om 11.58 door <a href="#">Jeff Evertse</a></p>

<div class="paragraph">
 <ion-badge class="banner" color="secondary"><ion-icon :icon="flameOutline"></ion-icon>Brand</ion-badge>
 <ion-badge class="banner" color="secondary"><ion-icon :icon="thunderstormOutline"></ion-icon>Extreem weer</ion-badge>
</div>

       <ion-chip>
    <ion-icon color="primary"  :icon="closeOutline"></ion-icon>
    <ion-label>Website</ion-label>
  </ion-chip>
       <ion-chip>
    <ion-icon  color="primary" :icon="checkmark"></ion-icon>
    <ion-label>Twitter</ion-label>
  </ion-chip> 
    </ion-card-content>
    </ion-card>
</template>

<script lang="ts">
import {  IonCard, IonCardContent, IonCardTitle, IonText, IonBadge, IonIcon, IonCardHeader, popoverController, IonChip, IonLabel  } from '@ionic/vue';
import { defineComponent } from 'vue';
import { ellipsisVertical, timeOutline, closeOutline, checkmark, flameOutline, thunderstormOutline } from 'ionicons/icons';
import Settings from './Settings.vue';

export default defineComponent({
  name: 'CrisisListItem',
  components: {
    IonCardHeader,
    IonCard, 
    IonCardContent, 
    IonCardTitle,
    IonText,
    IonBadge,
    IonIcon,
    IonChip,
    IonLabel
  },
    setup() {
            return {
               ellipsisVertical,
               timeOutline,
               closeOutline,
               checkmark,
               flameOutline,
               thunderstormOutline
            }
        },
    props: ['crisis'],
    methods: {
    setCurrentCrisis(){
      const param = this.crisis.id;
      this.$router.push({ path: 'home', query: { crisis: `${param}` }})
    },
    async openPopover(ev: Event) {
      const popover = await popoverController
        .create({
          component: Settings,
          cssClass: 'my-custom-class',
          event: ev,
          componentProps: { crisisId: this.crisis.id },
          translucent: true
        });
      return popover.present();
    }
  }
});
</script>

<style scoped>
ion-button {
  display: block;
}
ion-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-badge {
  margin-left: auto;
}

.updates-number {
      border-radius: 50%;
    min-width: 20px;
}

.display-options {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

</style>

