<template>
  <ion-card>
    <ion-item>
              <ion-label position="floating">Titel</ion-label>
      <ion-input v-model="currentCrisis.title" :value="currentCrisis.title"></ion-input>    
      </ion-item>
      <ion-item>
        <ion-label position="floating">Intro</ion-label>
      <ion-textarea v-model="currentCrisis.body"></ion-textarea>
      </ion-item>  
      <ion-item>
                <ion-label position="floating">Adres</ion-label>
      <ion-input type="text"></ion-input>  
      </ion-item>  
      <ion-item>
              <ion-label position="floating">Tags</ion-label>
      <ion-input type="text"></ion-input> 
      </ion-item>
      <ion-item>
             <ion-button @click="editCrisis()">Crisis bewerken </ion-button>
      </ion-item>
      </ion-card>
</template>

<script lang="ts">
import {  IonLabel, IonInput, IonTextarea, IonButton, IonCard, IonItem  } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'EditCrisisBasic',
  components: {
 IonLabel, IonInput, IonTextarea, IonButton, IonCard , IonItem

  },
data: function () {
    return {
      currentCrisis: {
          title: "",
          body: "",
      }
    }
  },
      ionViewDidEnter() {
        this.loadData()
    },
     mounted() {
    this.loadData();
  },
  methods: {
    loadData: function() {
            // @ts-ignore
            const crisises = JSON.parse(localStorage.getItem('crisises'))
            const {crisis} = this.$route.params
             // @ts-ignore
            const crisisItem = crisises.find(item => {
                if(item.id == crisis) {
                    this.currentCrisis = item
                }
            })
        },
     editCrisis: function() {
        if(this.currentCrisis.body.length > 0 && this.currentCrisis.title.length > 0) {
               // @ts-ignore
            const dummyDataArr = JSON.parse(localStorage.getItem('crisises'))
            // @ts-ignore
            const newDummyArr = [...dummyDataArr.map(item => {
                const returnValue = {...item};
                // @ts-ignore
                if (item.id == this.$route.params.crisis) {
                    returnValue.title = this.currentCrisis.title;
                    returnValue.body = this.currentCrisis.body;
                }

                return returnValue
            })]

            console.log(newDummyArr)

            localStorage.setItem('crisises', JSON.stringify(newDummyArr))
        }
      }
  }
});
</script>