<template>
  <ion-content >
   <ion-list>
            <ion-item href="/createcrisis" button><ion-icon class="setting-icon" :icon="addCircle"></ion-icon>Nieuwe crisis</ion-item>
            <ion-item :href="`/editcrisis?crisis=${crisisId}`" button><ion-icon class="setting-icon" :icon="create"></ion-icon>Bewerk crisis</ion-item>
            <ion-item button><ion-icon class="setting-icon"  :icon="archive"></ion-icon>Archiveer crisis</ion-item>
            <ion-item button><ion-icon class="setting-icon"  :icon="alert"></ion-icon>Bewerk banner</ion-item>
          </ion-list>
  </ion-content>
</template>

<script>
import { IonContent, IonList, IonIcon, IonItem } from '@ionic/vue';
import { defineComponent } from 'vue';
import { create, archive, addCircle, alert } from 'ionicons/icons';

export default defineComponent({
  name: 'SettingsBig',
  components: { IonContent, IonList, IonIcon, IonItem },
      setup() {
            return {
               create,
               archive,
               addCircle,
               alert
            }
        },
        props: ['crisisId']
});
</script>

<style>
    ion-icon.setting-icon {
        margin-right: 10px;
    }
</style>