<template>
    <ion-card>
    <ion-card-content>
     <ion-text>
         {{body}}
     </ion-text>
    </ion-card-content>
    </ion-card>
</template>

<script lang="ts">
import {  IonCard, IonCardContent, IonText } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Update',
  components: {
    IonCard, 
    IonCardContent, 
    IonText
  },
    props: ['body'],
});
</script>
