<template>
    <ion-page>

        <ion-header>
            <ion-toolbar>
                <ion-buttons class="top-menu">
                    <ion-icon @click="goHome()" class="back-button" v-show="homeToolbarVisible" :icon="arrowBackOutline"></ion-icon>
                      <ion-icon @click="goBack()" class="back-button" v-show="toolbarVisible" :icon="arrowBackOutline"></ion-icon>
                      <p>{{tabHeaderText}}</p>

                    <!--mobile menu-->
                    <div class="mobile-menu-top" v-show="mobileTopLevel && showMenu && windowWidth <= 768">
                    <ion-button expand="block" class="menu-icon">
                          <ion-icon :icon="searchOutline"></ion-icon>
                          </ion-button>

                    <ion-button class="updates-bell menu-icon" expand="block">
                          <ion-icon :icon="notificationsOutline"></ion-icon>
                          <ion-badge color="primary">11</ion-badge>
                          </ion-button>

                      <ion-button class="menu-icon" expand="block" @click="openFirst()">
                          <ion-icon :icon="menu"></ion-icon>
                          </ion-button>
                        </div>

                        <!--mobile crisis detail-->
                        <ion-icon @click="openPopoverBig($event)" slot="end" v-show="!mobileTopLevel && showMenu && windowWidth <= 768" expand="block" class="display-options-toolbar" :icon="ellipsisVertical"></ion-icon>

                    <!--desktop menu-->
                      <div v-show="showMenu && windowWidth > 768" class="desktop-menu">
                      <a href="#">Instellingen</a>
                       <ion-searchbar animated placeholder="Zoeken"></ion-searchbar>
                       </div>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>

        
   <ion-menu v-if="windowWidth <= 768" side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Instellingen</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
    


        <ion-content id="main-content">

            <slot />

        </ion-content>
        <ion-tab-bar v-show="tabbarVisible">
            <ion-tab-button @click="setRoute('home')" tab="home" href="/home">
                <ion-icon :icon="homeSharp"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-tab-button>

            <ion-tab-button @click="setRoute('chat')" tab="chat" href="/chat">
                <ion-icon :icon="chatbubblesOutline"></ion-icon>
                <ion-label>Chat</ion-label>
            </ion-tab-button>

            <ion-tab-button @click="setRoute('sitemap')" tab="sitemap" href="/sitemap">
                <ion-icon :icon="listOutline"></ion-icon>
                <ion-label>Sitemap</ion-label>
            </ion-tab-button>

        </ion-tab-bar> 
        
        <ion-tab-bar v-show="crisisDetailTabbarVisible">
            <ion-tab-button @click="setRoute(`crisis/${crisisParam}/updates`)" tab="updates" :href="`/crisis/${crisisParam}/updates`">
                <ion-icon :icon="radioOutline"></ion-icon>
                <ion-label>Updates</ion-label>
            </ion-tab-button>

            <ion-tab-button @click="setRoute(`crisis/${crisisParam}/edit`)" tab="bewerken" :href="`/crisis/${crisisParam}/edit`">
                <ion-icon :icon="buildOutline"></ion-icon>
                <ion-label>Bewerken</ion-label>
            </ion-tab-button>

            <ion-tab-button @click="setRoute(`crisis/${crisisParam}/banners`)" tab="banners" :href="`crisis/${crisisParam}/banners`">
                <ion-icon :icon="locationOutline"></ion-icon>
                <ion-label>Banners</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-page>
</template>

<script lang="ts">
    import { defineComponent } from 'vue';
    import { IonPage, IonContent, IonTabBar, IonTabButton, IonIcon, IonLabel, IonButtons, menuController, IonHeader, IonToolbar, IonMenu, IonItem, IonTitle,IonBadge, IonList, IonButton, IonSearchbar, popoverController } from '@ionic/vue';
    import { homeSharp, calendar, bookSharp, heartSharp, personCircleSharp, arrowBackOutline, listOutline, radioOutline, locationOutline, buildOutline, chatbubblesOutline, menu, notificationsOutline, searchOutline, ellipsisVertical } from 'ionicons/icons';
    import SettingsBig from '../components/crisis/SettingsBig.vue';

    export default defineComponent({
        props: ['toolbarVisible', 'homeToolbarVisible', 'favoriteEmptyIconVisible', 'tabbarVisible', 'toolbarTitle', 'favoriteSelected', 'crisisDetailTabbarVisible', 'crisisParam', 'tabHeaderText', 'closeButton', 'showMenu'],
        components: {
            IonPage,
            IonContent,
            IonTabBar,
            IonTabButton,
            IonLabel,
            IonHeader,
            IonToolbar,
            IonButtons,
            IonIcon,
            IonMenu,
            IonItem,
            IonTitle,
            IonList,
            IonButton,
            IonSearchbar,
            IonBadge
        },
    data: function () {
    return {
      windowWidth: Number(),
      mobileTopLevel: true
    }
  },
   watch: {
    $route(to, from) {
      if(to.fullPath === '/home'){
          this.mobileTopLevel = true;
          console.log('true')
      } else {
          this.mobileTopLevel = false;
          console.log('false')
      }
    }
  },
        setup() {
            return {
                homeSharp,
                calendar,
                bookSharp,
                heartSharp,
                personCircleSharp,
                arrowBackOutline,
                listOutline,
                radioOutline,
                locationOutline,
                buildOutline,
                chatbubblesOutline,
                menu,
                notificationsOutline,
                searchOutline,
                ellipsisVertical
            }
        },
        methods: {
            async openFirst() {
                menuController.enable(true, 'first');
                menuController.open('first');
                await menuController.open();
                },
            setRoute: function (route: string) {
                // @ts-ignore
                this.$router.push(`/${route}`)
            },
            goBack() {
                  // @ts-ignore
                const currentRoute = this.$router.currentRoute._rawValue.fullPath;
                const deepNested = currentRoute.includes('updates');
                const deepDeepNested = currentRoute.includes('createupdate');
                if(deepNested) {
                    // @ts-ignore
                     this.$router.push(`/crisis/${this.crisisParam}`)
                } else if(deepDeepNested){
                    // @ts-ignore
                    this.$router.go(-1)  
                } else {
                         // @ts-ignore
                    this.$router.push("/home")
                }
             
            },   
            goHome() {
                // @ts-ignore
                    this.$router.push("/home")

            },
              calculateWindow() {
      this.windowWidth = window.innerWidth;
    },
    async openPopoverBig(ev: Event) {
      const popover = await popoverController
        .create({
          component: SettingsBig,
          cssClass: 'my-custom-class',
          event: ev,
          componentProps: { crisisId: this.$route.query.crisis},
          translucent: true
        });
      return popover.present();
    }
        },
        mounted() {
    this.calculateWindow();
  }
    })

</script>

<style scoped>
.top-menu {
    justify-content: space-between;
}

.mobile-menu-top {
    display: flex;
}

.updates-bell ion-badge {
        position: absolute;
    opacity: 0.9;
    top: 0rem;
    right: -0.5rem;
    border-radius: 50%;
	}

 .menu-icon  ion-icon{
                width: 30px;
    height: 30px;
	}

    .desktop-menu {
            display: flex;
    align-items: center;
    }
    
ion-icon.display-options-toolbar {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}
</style>
