<template>
 <ion-header translucent>
            <ion-toolbar>
              <ion-title>Selecteer handelingsperspectieven</ion-title>
              <ion-buttons slot="end">
                <ion-icon @click="closeModal" class="back-button close-button" :icon="closeOutline"></ion-icon>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
  <ion-content class="ion-padding">
    <div class="paragraph">
 <ion-badge @click="toggle($event)" class="banner" color="light"><ion-icon :icon="flameOutline"></ion-icon>Brand</ion-badge>
 <ion-badge @click="toggle($event)" class="banner" color="light"><ion-icon :icon="thunderstormOutline"></ion-icon>Asbest</ion-badge>
 <ion-badge @click="toggle($event)" class="banner" color="light"><ion-icon :icon="flameOutline"></ion-icon>Noodweer</ion-badge>
 <ion-badge @click="toggle($event)" class="banner" color="light"><ion-icon :icon="thunderstormOutline"></ion-icon>Gevaarlijke stoffen</ion-badge>
  <ion-badge @click="toggle($event)" class="banner" color="light"><ion-icon :icon="flameOutline"></ion-icon>Overstroming</ion-badge>
 <ion-badge @click="toggle($event)" class="banner" color="light"><ion-icon :icon="thunderstormOutline"></ion-icon>Ontploffing</ion-badge>
</div>
             <ion-button class="w-100" @click="closeModal">Gereed</ion-button>
  </ion-content>
</template>

<script>
import {
  IonContent,
  IonHeader,
  IonTitle,
  IonToolbar,
  modalController,
  IonBadge,
  IonButtons,
  IonIcon,
  IonButton
} from "@ionic/vue";
import { defineComponent } from 'vue';
   import { closeOutline, thunderstormOutline, flameOutline } from 'ionicons/icons';

export default defineComponent({
  name: 'PerspectivesModal',
  props: {
    title: { type: String, default: 'Super Modal' },
  },
  data() {
    return {
      content: 'Content',
    }
  },
  components: { IonContent, IonHeader, IonTitle, IonToolbar, IonBadge, IonButtons, IonIcon, IonButton },
  setup() {
    const closeModal = () => {
      modalController.dismiss();
    };

    return { closeModal, closeOutline, flameOutline, thunderstormOutline };
  },
  methods: {
      toggle(e){
          if(e.target.classList.contains('active')){
          e.target.classList.remove('active');
          } else {
          e.target.classList.add('active');
          }
      }
   }
});
</script>

<style scoped>

ion-badge.banner {
        margin-right: 20px;
    margin-bottom: 20px;
}
ion-badge.banner.active {
    background: #ff613a;
}
</style>