<template>
<div>
    <ion-card>
    <ion-item>
      <ion-card-title>{{crisis.title}} updates</ion-card-title>
           <ion-button :href="`/crisis/${$route.params.crisis}/createupdate`">
         Update toevoegen
     </ion-button>
    </ion-item>
    </ion-card>
      <Update 
          v-for="(item, index) in crisis.updates" 
          v-bind:key="index" 
          :body="item.body"
          />
    </div>
</template>

<script lang="ts">
import { IonItem, IonCard, IonCardTitle, IonButton } from '@ionic/vue';
import { defineComponent } from 'vue';
import Update from '../crisis/Update.vue';

export default defineComponent({
  name: 'CrisisUpdates',
  components: {
    IonItem,
    IonCard, 
    IonCardTitle,
    IonButton,
    Update
  },
  props: ['crisis'],
  data: function () {
    return {
      windowWidth: Number(),
    }
  }, 
  methods: {
     calculateWindow() {
      this.windowWidth = window.innerWidth;
    }
  },
    mounted() {
    this.calculateWindow();
  }
});
</script>
