<template>
    <ion-card>
    <ion-item>
     <ion-title>Chat</ion-title>
     </ion-item>
    </ion-card>
</template>

<script lang="ts">
import { IonItem, IonCard, IonTitle } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'CrisisChat',
  components: {
    IonItem,
    IonCard,
    IonTitle
  },
  props: ['crisis'],
  data: function () {
    return {
      windowWidth: Number(),
    }
  }, 
  methods: {
     calculateWindow() {
      this.windowWidth = window.innerWidth;
    }
  },
    mounted() {
    this.calculateWindow();
  }
});
</script>
