<template>
<div>
    <ion-card>
    <ion-item>
      <ion-card-title>{{crisis.title}}</ion-card-title>
    </ion-item>
    <ion-card-content>
     <ion-text class="paragraph">
         {{crisis.body}}
     </ion-text>
     <div class="paragraph">
       <p> <ion-icon  class="icon-margin-r" :icon="calendarOutline"></ion-icon>Gisteren om 2.24 door <a href="#">Jeff Evertse</a></p>
       <p> <ion-icon  class="icon-margin-r" :icon="timeOutline"></ion-icon>Vandaag om 11.58 door <a href="#">Jeff Evertse</a></p>
</div>
       
<div class="paragraph">
 <ion-badge class="banner" color="secondary"><ion-icon :icon="flameOutline"></ion-icon>Brand</ion-badge>
 <ion-badge class="banner" color="secondary"><ion-icon :icon="thunderstormOutline"></ion-icon>Extreem weer</ion-badge>
</div>

<div class="paragraph">
       <ion-chip>
    <ion-icon color="primary"  :icon="closeOutline"></ion-icon>
    <ion-label>Website</ion-label>
  </ion-chip>
       <ion-chip>
    <ion-icon  color="primary" :icon="checkmark"></ion-icon>
    <ion-label>Twitter</ion-label>
  </ion-chip>
</div>

  <div class="paragraph">
            <span class="subtitle">Locatie</span>
    </div>
  <div class="paragraph">
            <span class="subtitle">Foto's</span>
    </div>
  <div  class="paragraph">
  <span class="subtitle">Documenten</span>
            <p><ion-icon :icon="documentOutline"></ion-icon>Item One</p>
            <p><ion-icon :icon="documentOutline"></ion-icon>Item Two</p>
</div>
<div class="paragraph">
            <span class="subtitle">Banners</span>
            <ion-badge class="banner banner--noicon" color="tertiary">Alphen-Chaam</ion-badge>
 <ion-badge class="banner banner--noicon" color="tertiary">Aalberg</ion-badge>
 <ion-badge class="banner banner--noicon" color="tertiary">Breda</ion-badge>
    </div>
    </ion-card-content>
    </ion-card>
    </div>
</template>

<script lang="ts">
import { IonItem, IonCard, IonCardContent, IonCardTitle, IonText,  IonBadge, IonChip, IonLabel, IonIcon } from '@ionic/vue';
import { defineComponent } from 'vue';
import { timeOutline, calendarOutline, flameOutline, thunderstormOutline, closeOutline, checkmark, documentOutline } from 'ionicons/icons';

export default defineComponent({
  name: 'CrisisInfo',
  components: {
    IonItem,
    IonCard, 
    IonCardContent, 
    IonCardTitle,
    IonText,
    IonBadge,
    IonChip,
    IonLabel,
    IonIcon
  },
    setup() {
            return {
               timeOutline,
               calendarOutline,
               thunderstormOutline,
               flameOutline,
               closeOutline,
               checkmark,
               documentOutline
            }
        },
  props: ['crisis']
});
</script>
