<template>
  <ion-card>
      <ion-item>
             <ion-button @click="editCrisis()">Opslaan</ion-button>
      </ion-item>
      </ion-card>
</template>

<script lang="ts">
import {  IonButton, IonCard, IonItem } from '@ionic/vue';
import { defineComponent } from 'vue';
import { SharedMixin } from '../../mixins/SharedMixins';

export default defineComponent({
  name: 'Photos',
  components: {
    IonButton, 
    IonCard , 
    IonItem
  },
mixins: [SharedMixin],
data: function () {
    return {
      currentCrisis: {
          article: "",
      }
    }
  },
      ionViewDidEnter() {
        this.loadData()
    },
     mounted() {
    this.loadData();
  },
  methods: {
    loadData: function() {
            // @ts-ignore
            const crisises = JSON.parse(localStorage.getItem('crisises'))
            const {crisis} = this.$route.params
             // @ts-ignore
            const crisisItem = crisises.find(item => {
                if(item.id == crisis) {
                    this.currentCrisis = item
                }
            })
        },
     editCrisis: function() {
        if(this.currentCrisis.article.length > 0) {
               // @ts-ignore
            const dummyDataArr = JSON.parse(localStorage.getItem('crisises'))
            // @ts-ignore
            const newDummyArr = [...dummyDataArr.map(item => {
                const returnValue = {...item};
                // @ts-ignore
                if (item.id == this.$route.params.crisis) {
                    returnValue.article = this.currentCrisis.article;
                }

                return returnValue
            })]

            console.log(newDummyArr)

            localStorage.setItem('crisises', JSON.stringify(newDummyArr))
        }
      }
  }
});
</script>