/*Utilities*/
.w-100 {
  width: 100%;
}
.icon-margin-r {
  margin-right: 5px;
}

/*Content*/
.paragraph {
    margin-bottom: 10px;
    display: block;
  }

  .subtitle {
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
  }

/*Buttons*/
.back-button {
  margin-left: 15px;
  height: 25px;
  width: 25px;
}

.back-button a, .back-button ion-icon, .menu-button ion-icon{
  width: 100%;
  height: 100%;
}

/*Banners*/
  .banner {
    height: 27px;
      font-size: 16px;
      line-height: -1px;
      padding-left: 24px;
      padding: 6px 8px 6px 28px;
      margin-right: 5px;
  }

  .banner.banner--noicon {
    height: 27px;
    font-size: 16px;
    line-height: -1px;
    padding-left: 24px;
    padding: 6px 8px;
    margin-right: 5px;
  }
  
  .banner ion-icon {
      position: absolute;
      left: 4px;
      height: 20px;
      width: 20px;
      top: 3px;
  }
