<template>
  <base-layout tabbarVisible="true">
    <ion-content :fullscreen="true">
      
        <ion-header>
            <ion-toolbar>
                <ion-title>Chat</ion-title>
            </ion-toolbar>
        </ion-header>
    
      <ion-list>
        </ion-list>
    </ion-content>
  </base-layout>
</template>

<script lang="ts">
import { IonContent, IonHeader, IonToolbar, IonTitle, IonList} from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Chat',
  components: {
    IonContent,
    IonHeader, 
    IonToolbar,
    IonTitle,
    IonList,
  },
  data: function () {
    return {
      hi: 'ee'
    }
  },

});
</script>

