<template>
  <base-layout showMenu="true" :homeToolbarVisible="!mobileTopLevel && windowWidth <= 768" tabHeaderText="Crisisoverzicht">
    <ion-content :fullscreen="true">

    <div id="main-content">  <div class="crisis-list-desktop">
    
        <!-- Desktop crisis list-->  
      <ion-list class="crisis-list-aside" v-show="windowWidth > 768">
        <CrisisListItemDesktop 
          v-for="(item, index) in dummy" 
          v-bind:key="index" 
          :crisis="item"
          />
        </ion-list>      
        <!-- Mobile crisis list-->   
        <ion-list v-show="windowWidth <= 768 && mobileTopLevel">
        <CrisisListItem 
          v-for="(item, index) in dummy" 
          v-bind:key="index" 
         :crisis="item"
          />
        </ion-list>

<!-- Desktop crisis detail-->
        <CrisisDetail 
         v-show="windowWidth > 768"
        :crisis="currentCrisis"
        />

<!-- Mobile crisis detail-->
        <CrisisDetail 
         v-show="!mobileTopLevel && windowWidth <= 768"
   :crisis="currentCrisis"
        />
    </div></div>
    

     <ion-fab v-show="mobileTopLevel || windowWidth >= 768" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button href="/createcrisis">
        <ion-icon :icon="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </ion-content>
  </base-layout>
</template>

<script lang="ts">
import { IonContent, IonList, IonFab, IonFabButton,  IonIcon} from '@ionic/vue';
import { defineComponent } from 'vue';
import { add } from 'ionicons/icons';
import CrisisListItem from '../components/crisis/CrisisListItem.vue';
import CrisisListItemDesktop from '../components/crisis/CrisisListItemDesktop.vue';
import CrisisDetail from './crisis/CrisisDetail.vue';
import { SharedMixin } from '../mixins/SharedMixins';

export default defineComponent({
  name: 'Home',
  components: {
    IonContent,
    IonList,
     IonFab, 
     IonFabButton,  
     IonIcon,
    CrisisListItem,
    CrisisDetail,
    CrisisListItemDesktop
  },
  setup() {
            return {
               add
            }
        },
  mixins: [SharedMixin],
  data: function () {
    return {
      dummy: [],
      windowWidth: Number(),
      mobileTopLevel: Boolean(),
      currentCrisis: {
        id: "1",
        title: "Brand",
        body: "Lorem ipsum dolount ut labore et dolore magna aliqua.",
        updates: [
          {
            id: '943',
            body: 'Update 1'
          }
        ]
      }
    }
  },
  watch: {
    $route(to, from) {
      this.loadData()
      if(to.fullPath === '/home' && this.windowWidth <= 768){
          this.mobileTopLevel = true;
      }
    }
  },
  methods: {
    loadData() {
      this.dummy = this.getAllCrisises()
      this.mobileTopLevel = true;

       // @ts-ignore
            const crisis = this.$route.query.crisis;

            if(crisis) {
              this.setCurrentCrisis(crisis.toString())
            } 
    },
    calculateWindow() {
      this.windowWidth = window.innerWidth;
    },
    setCurrentCrisis(id: string){
       // @ts-ignore
            const crisises = JSON.parse(localStorage.getItem('crisises'))
               // @ts-ignore
            this.$router.push({path: "home", query: {crisis: id}})
             // @ts-ignore
        const crisisItem = crisises.find(item => {
              if(item.id === id) {
                return item;
              }
            })

            this.currentCrisis = crisisItem;
      if(this.windowWidth <= 768) {
          this.mobileTopLevel = false;
      }
    }
      },
  mounted() {
    this.loadData();
    this.calculateWindow();
  }
});
</script>

<style scoped>
 h1{
    font-size: 23px;
  }
  ion-toolbar {
    padding: 0 15px;
  }
  @media screen and (min-width: 992px) {
    .crisis-list-desktop {
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  .crisis-list-aside {
    height: calc(100vh - 57px);
    overflow: auto;
  }
}

</style>
