<template>
  <base-layout tabbarVisible="true" >
    <ion-content :fullscreen="true">
      <ion-list>
           <ion-item>         
              <ion-title>
             Base
            </ion-title>
            </ion-item>
            <ion-item>
            <ion-label><a href="/home">Home</a></ion-label>
            </ion-item>
                 <ion-item>
            <ion-label><a href="/createcrisis">Creeer crisis</a></ion-label>
            </ion-item>
               <ion-item>
            <ion-label><a href="/chat">Chat</a></ion-label>
            </ion-item>
           <ion-item>         
              <ion-title>
              Loginflow
            </ion-title>
            </ion-item>
            <ion-item>
            <ion-label><a href="/login">Login</a></ion-label>
            </ion-item>
            <ion-item>
            <ion-label><a href="/reset">Reset wachtwoord</a></ion-label>
            </ion-item>  
            <ion-item>         
              <ion-title>
              Crisis 1 (detail)
            </ion-title>
            </ion-item>
           <ion-item>
            <ion-label><a href="/home?crisis=1">Bekijk crisis 1 details</a></ion-label>
            </ion-item>      
            <ion-item>
            <ion-label><a href="/crisis/1/updates">Bekijk crisis 1 updates</a></ion-label>
            </ion-item>  
            <ion-item>
            <ion-label><a href="/crisis/1/edit">Crisis 1 bewerken</a></ion-label>
            </ion-item>
             <ion-item>
            <ion-label><a href="/crisis/1/createupdate">Update toevoegen aan crisis 1</a></ion-label>
            </ion-item>
          
        </ion-list>
    </ion-content>
  </base-layout>
</template>

<script lang="ts">
import { IonContent, IonList, IonItem, IonLabel, IonTitle } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Sitemap',
  components: {
    IonContent,
    IonList, 
    IonItem,
    IonLabel,
    IonTitle
  }
});
</script>
