<template>
  <base-layout>
    <ion-content :fullscreen="true">
    <ion-card>
    <ion-item>
      <ion-card-title>Inloggen</ion-card-title>
    </ion-item>

    <ion-card-content>
     <ion-label position="floating">Pincode</ion-label>
        <ion-input type="number"></ion-input>
          <ion-button href="/home">Login</ion-button>
          <a href="/reset">Wachtwoord vergeten?</a>
    </ion-card-content>
    </ion-card>
    
    </ion-content>
  </base-layout>
</template>

<script lang="ts">
import { IonContent, IonInput, IonItem, IonButton, IonCard, IonCardContent, IonCardTitle, IonLabel } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Login',
  components: {
    IonContent,
    IonInput,
    IonItem,
    IonButton,
    IonCard, 
    IonCardContent, 
    IonCardTitle,
    IonLabel
  }
});
</script>

<style scoped>
  a{
    display: block;
  }
</style>
