<template>
  <base-layout>
    <ion-content v-if="step1" :fullscreen="true">
    <ion-card>
    <ion-item>
      <ion-card-title>Wachtwoord resetten</ion-card-title>
    </ion-item>

    <ion-card-content>
     <ion-label position="floating">Emailadres</ion-label>
        <ion-input type="email"></ion-input>
          <ion-button @click="nextScreen()">Verstuur</ion-button>
    </ion-card-content>
    </ion-card>
    
    </ion-content>
    
    <ion-content v-if="!step1" :fullscreen="true">
    <ion-card>
      <ion-card-title>Check je email om je wachtwoord te resetten</ion-card-title>
       <ion-button href="/home">Devs: ga naar home</ion-button>
    </ion-card>
    
    </ion-content>
  </base-layout>
</template>

<script lang="ts">
import { IonContent, IonInput, IonItem, IonButton, IonCard, IonCardContent, IonCardTitle } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ResetPassword',
  components: {
    IonContent,
    IonInput,
    IonItem,
    IonButton,
    IonCard, 
    IonCardContent, 
    IonCardTitle
  },
  data: function () {
    return {
      step1: true
    }
  },
  methods: {
      nextScreen: function() {
        this.step1 = false;
      }
  }
});
</script>
