<template>
<ion-content>
   <ion-header>
            <ion-toolbar>
                <ion-buttons slot="end" class="top-menu">
                      <ion-icon @click="goBack()" class="back-button close-button" :icon="closeOutline"></ion-icon>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
   <ion-item>
              <ion-label position="floating">Titel van de crisis</ion-label>
      <ion-input v-model="title"></ion-input>    
      </ion-item>
      <ion-item>
        <ion-label position="floating">Crisisomschrijving</ion-label>
      <ion-textarea v-model="body"></ion-textarea>
      </ion-item>  
            <ion-item>
              <ion-label position="floating">Tag</ion-label>
      <ion-input type="text"></ion-input> 
      </ion-item>
      <ion-item>
           <ion-button class="w-100">
    <ion-icon slot="start" :icon="locationSharp"></ion-icon>
    Locatie
  </ion-button> 
      </ion-item>
      <ion-item>
             <ion-button class="w-100" @click="addCrisis()">Crisis aanmaken</ion-button>
      </ion-item>
      </ion-content>
</template>

<script lang="ts">
import { IonLabel, IonInput, IonTextarea, IonButton,  IonItem, IonHeader, IonButtons, IonToolbar, IonIcon, IonContent } from '@ionic/vue';
import { defineComponent } from 'vue';
    import { closeOutline, locationSharp } from 'ionicons/icons';

export default defineComponent({
  name: 'CreateCrisis',
  components: {
    IonLabel,
    IonInput,
    IonTextarea,
    IonButton,
    IonItem,
    IonHeader, 
    IonButtons, 
    IonToolbar, 
    IonIcon,
    IonContent
  },
 data: function () {
    return {
      title: "",
      body: ""
    }
  },
  setup() {
            return {
                closeOutline,
                locationSharp
            }
        },
  methods: {
       goBack() {
                // @ts-ignore
                this.$router.go(-1)  
            },
      addCrisis: function() {
        if(this.title.length > 0 && this.body.length > 0) {
               // @ts-ignore
            const dummyDataArr = JSON.parse(localStorage.getItem('crisises'))
            const newDummyArr = [...dummyDataArr, {id: Math.random(),title: this.title, body: this.body, updates: []}]
            console.log(newDummyArr)
            localStorage.setItem('crisises', JSON.stringify(newDummyArr))
        }
      },
  }
});
</script>

<style>
.back-button.close-button {
  margin-left: auto;
}

</style>