<template>
  <base-layout toolbarVisible="true" crisisDetailTabbarVisible="true" :crisisParam="$route.params.crisis">  
  <ion-card> 
      <ion-item>
                <ion-label position="floating">Tekst</ion-label>
      <ion-textarea v-model="body"></ion-textarea>
      </ion-item>
      <ion-item>
           <ion-button @click="addUpdate()">Update publiceren</ion-button>
      </ion-item>
           </ion-card>
  </base-layout>
</template>

<script lang="ts">
import { IonLabel, IonTextarea, IonButton, IonCard, IonItem } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'CreateUpdate',
  components: {
    IonLabel,
    IonTextarea,
    IonButton,
    IonCard,
    IonItem
  },
 data: function () {
    return {
      body: ""
    }
  },
  methods: {
      addUpdate: function() {
        if(this.body.length > 0) {
               // @ts-ignore
            const dummyDataArr = JSON.parse(localStorage.getItem('crisises'))
            // @ts-ignore
            const newDummyArr = [...dummyDataArr.map(item => {
                const returnValue = {...item};
                // @ts-ignore
                if (item.id == this.$route.params.crisis) {
                    returnValue.updates = [...returnValue.updates, {body: this.body, id: Math.random()}];
                }

                return returnValue
            })]

            localStorage.setItem('crisises', JSON.stringify(newDummyArr))
        }
      }
  }
});
</script>