<template>
 <base-layout crisisDetailTabbarVisible="true" :crisisParam="$route.params.crisis">
    <ion-card>
    <ion-item>
      <ion-card-title>{{currentCrisis.title}} banners</ion-card-title>
    </ion-item>

      <ion-item>
              <ion-label position="floating">Titel banner</ion-label>
      <ion-input v-model="currentCrisis.titleBanner"></ion-input>    
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tekst banner</ion-label>
      <ion-textarea v-model="currentCrisis.bodyBanner"></ion-textarea>
      </ion-item>  
    <ion-button @click="editCrisisBanners()">
         Opslaan
     </ion-button>
    </ion-card>
      </base-layout>
</template>

<script lang="ts">
import { IonItem, IonCard, IonCardTitle, IonButton, IonInput, IonLabel, IonTextarea} from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'CrisisBanners',
  components: {
    IonItem,
    IonCard, 
    IonCardTitle,
    IonButton,
    IonInput,
    IonLabel,
    IonTextarea
  },
  data: function () {
    return {
      currentCrisis: {
          title: "",
          titleBanner: "",
          bodyBanner: ""
      }
    }
  },
    ionViewDidEnter() {
        this.loadData()
    },
     mounted() {
    this.loadData();
  },
    methods: {
        loadData: function() {
            // @ts-ignore
            const crisises = JSON.parse(localStorage.getItem('crisises'))
            const {crisis} = this.$route.params
             // @ts-ignore
            const crisisItem = crisises.find(item => {
                if(item.id == crisis) {
                    this.currentCrisis = item
                }
            })
        },
         editCrisisBanners: function() {
        if(this.currentCrisis.titleBanner.length > 0 && this.currentCrisis.bodyBanner.length > 0) {
               // @ts-ignore
            const dummyDataArr = JSON.parse(localStorage.getItem('crisises'))
            // @ts-ignore
            const newDummyArr = [...dummyDataArr.map(item => {
                const returnValue = {...item};
                // @ts-ignore
                if (item.id == this.$route.params.crisis) {
                    returnValue.titleBanner = this.currentCrisis.titleBanner;
                    returnValue.bodyBanner = this.currentCrisis.bodyBanner;
                }

                return returnValue
            })]

            console.log(newDummyArr)

            localStorage.setItem('crisises', JSON.stringify(newDummyArr))
        }
      }
    }
});
</script>
