<template>
<div>
    <ion-segment v-show="windowWidth <= 768" @ionChange="segmentChanged($event)" :value="activeTab">
        <ion-segment-button value="info">
          <ion-label>Info</ion-label>
        </ion-segment-button>
        <ion-segment-button value="updates">
          <ion-label>Updates</ion-label>
        </ion-segment-button>
        <ion-segment-button value="chat">
          <ion-label>Chat</ion-label>
        </ion-segment-button>
      </ion-segment> 
    <div v-show="windowWidth <= 768">
      <CrisisInfo :crisis="crisis" v-if="activeTab === 'info'" />
    <CrisisUpdates :crisis="crisis" v-if="activeTab === 'updates'" />
    <CrisisChat  :crisis="crisis" v-if="activeTab === 'chat'" />
    </div>
        
    <div v-show="windowWidth >= 768"  class="crisisdetail-desktop-grid">
   <CrisisInfo class="crisisdetail-desktop" :crisis="crisis"/>
    <CrisisUpdates class="crisisdetail-desktop-split" :crisis="crisis"/>
    <CrisisChat class="crisisdetail-desktop-split" :crisis="crisis" />
    </div
    >
    </div>
</template>

<script lang="ts">
import {  IonSegment,  IonSegmentButton, IonLabel } from '@ionic/vue';
import { defineComponent } from 'vue';
import CrisisInfo from '../../components/tabs/CrisisInfo.vue';
import CrisisUpdates from '../../components/tabs/CrisisUpdates.vue';
import CrisisChat from '../../components/tabs/CrisisChat.vue';

export default defineComponent({
  name: 'CrisisDetail',
  components: {
    IonSegment,  IonSegmentButton, IonLabel,
    CrisisInfo,
    CrisisUpdates,
    CrisisChat
  },
  props: ['crisis'],
  data: function () {
    return {
      windowWidth: Number(),
       activeTab: localStorage.getItem("favoriteTab2"),
      currentCrisis: {
          id: "",
          title: "",
          body: "",
      },
    }
  }, 
  methods: {
     calculateWindow() {
      this.windowWidth = window.innerWidth;
    },
    segmentChanged(ev: CustomEvent) {
      this.activeTab = ev.detail.value;
    }
  },
    mounted() {
    this.calculateWindow();
  }
});
</script>

<style>
.crisisdetail-desktop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.crisisdetail-desktop {
  grid-row: 1 / span 2;
}

.crisisdetail-desktop-split {
      max-height: 50vh;
 overflow: auto;
}
</style>
