<template>
 <base-layout toolbarVisible="true" crisisDetailTabbarVisible="true" :crisisParam="$route.params.crisis">
    <ion-card>
    <ion-item>
      <ion-card-title>{{currentCrisis.title}} updates</ion-card-title>
           <ion-button :href="`/crisis/${$route.params.crisis}/createupdate`">
         Update toevoegen
     </ion-button>
    </ion-item>
    </ion-card>
      <Update 
          v-for="(item, index) in currentCrisis.updates" 
          v-bind:key="index" 
          :body="item.body"
          />
      </base-layout>
</template>

<script lang="ts">
import { IonItem, IonCard, IonCardTitle, IonButton} from '@ionic/vue';
import { defineComponent } from 'vue';
import Update from '../../components/crisis/Update.vue';

export default defineComponent({
  name: 'CrisisUpdates',
  components: {
    IonItem,
    IonCard, 
    IonCardTitle,
    IonButton,
    Update: Update
  },
  data: function () {
    return {
      currentCrisis: {
          id: "",
          title: "",
          body: "",
          updates: []
      }
    }
  },
    ionViewDidEnter() {
        this.loadData()
    },
     mounted() {
    this.loadData();
  },
    methods: {
        loadData: function() {
            // @ts-ignore
            const crisises = JSON.parse(localStorage.getItem('crisises'))
            const {crisis} = this.$route.params
             // @ts-ignore
            const crisisItem = crisises.find(item => {
                if(item.id == crisis) {
                    this.currentCrisis = item
                }
            })
        }
    }
});
</script>
