<template>
<ion-content>
    <ion-header>
            <ion-toolbar>
                <ion-buttons slot="end" class="top-menu">
                      <ion-icon @click="goBack()" class="back-button close-button" :icon="closeOutline"></ion-icon>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
       <ion-item>
      <ion-card-title>Bewerk crisis</ion-card-title>
    </ion-item>
     <ion-item>
              <ion-label position="floating">Titel van de crisis</ion-label>
      <ion-input></ion-input>    
      </ion-item>
      <ion-item>
        <ion-label position="floating">Crisisomschrijving</ion-label>
      <ion-textarea></ion-textarea>
      </ion-item>  
            <ion-item>
              <ion-label position="floating">Tag</ion-label>
      <ion-input type="text"></ion-input> 
      </ion-item>
      <ion-item>
           <ion-button class="w-100">
    <ion-icon slot="start" :icon="locationSharp"></ion-icon>
    Locatie
  </ion-button> 
      </ion-item>
       <ion-item>      
  <ion-button @click="openModal()" class="w-100">
    Selecteer handelingsperspectieven
  </ion-button> 
  </ion-item>
  <ion-item>
  <ion-label>Foto toevoegen</ion-label>  
    </ion-item>
  <ion-item>    
  <ion-button class="w-100">
     <ion-icon slot="start" :icon="camera"></ion-icon>
    Camera
  </ion-button>  
  <ion-button class="w-100">
     <ion-icon slot="start" :icon="folder"></ion-icon>
    Bestanden
  </ion-button> 
  </ion-item>
    <ion-item>
  <ion-label>Publiceren op</ion-label>  
    </ion-item>

<ion-item>
 <ion-label><ion-icon class="icon-margin-r" slot="start" :icon="globe"></ion-icon>Website</ion-label>
          <ion-toggle slot="start" name="apple" color="primary" checked></ion-toggle>
</ion-item>
<ion-item>
 <ion-label><ion-icon class="icon-margin-r" slot="start" :icon="logoTwitter"></ion-icon>Twitter</ion-label>
          <ion-toggle slot="start" name="apple" color="primary" checked></ion-toggle>
</ion-item>

      <ion-item>
             <ion-button class="w-100" @click="addCrisis()">Wijzigingen opslaan</ion-button>
      </ion-item>
      </ion-content>
</template>

<script lang="ts">
import { IonLabel, IonInput, IonTextarea, IonButton,  IonItem, IonHeader, IonButtons, IonToolbar, IonIcon, IonCardTitle, IonToggle, IonContent, modalController  } from '@ionic/vue';
import { defineComponent } from 'vue';
import { closeOutline, locationSharp, camera, folder, logoTwitter, globe } from 'ionicons/icons';
import PerspectivesModal from '../../components/modals/PerspectivesModal.vue';
import Photos from '../../components/photos/Photos.vue';

export default defineComponent({
  name: 'EditCrisis',
  components: {
     IonLabel, IonInput, IonTextarea, IonButton,  IonItem, IonHeader, IonButtons, IonToolbar, IonIcon,IonCardTitle, IonToggle, IonContent
  },
data: function () {
    return {
      crisis: {
          title: "",
          body: "",
      },
    }
  },
   setup() {
        const openModal = async () => {
      const modal = await modalController.create({
        component: PerspectivesModal, //Modal is name of the component to render inside ionic modal
      });
      return modal.present();
    };
            return {
               closeOutline, locationSharp, camera, folder, logoTwitter, globe, openModal
            }
        },
      ionViewDidEnter() {
        this.loadData()
    },
     mounted() {
    this.loadData();
  },
  methods: {
           goBack: function() {
                // @ts-ignore
                this.$router.go(-1)  
            },
    loadData: function() {
            // @ts-ignore
            const crisises = JSON.parse(localStorage.getItem('crisises'))
            console.log(crisises)
            const crisis = this.$route.query.crisis;
            console.log(crisis)
             // @ts-ignore
            const crisisItem = crisises.find(item => {
                if(item.id == crisis) {
                    this.crisis = item
                }
            })
        },
    }
});
</script>